.container{
    margin-inline: center ;
    margin: top 30px;;
    align-content: center;
    background-color: rgba(246, 190, 190, 0.872);
    display: inline-table;
    border: 3px black solid;
    align-items: center;
}
.parent {
  display: grid;
  place-items: center;
}

.person {
    display: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 36px;
    margin: 0;
  }
    
.img {
    border-radius: 103px 103px 103px 103px;
}
