.searchInput {
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: #e0e0e0;
    height: 3em;
}

.searchBotton {
    background-color: #08350a; /* color de fondo */
    border: 1px rgb(144, 11, 11);
    border-radius: 2px;
    color: white; /* color de texto */
    padding: 15px  18px; /* relleno */
    text-align: center; /* alinear texto */
    display: 50px; /* mostrar como bloque en línea */
   } 